<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="form_first_number">
    Subtract this:
  </label>
  <input id="form_first_number" name="first_num" text="text">

  <label for="form_second_number">
    from this:
  </label>
  <input id="form_second_number" name="second_num" text="text">

  <button>
    Subtract!
  </button>
</form>
